{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
    <title>Data</title>
    <link rel="stylesheet" href="{% static 'main/css/upload.css' %}">
    <style>
    /*body > img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    map area {
        border: darkblue 3px solid;
    }*/
    .map {
        margin: 50px auto 0 auto;
        /*object-fit: contain;
        width: 100%;
        height: auto;*/
        width: fit-content;
        height: fit-content;
        padding: 0 80px;
        position: relative;
    }
    .map_title {
        position: absolute;
        color: #FFFFFF;
    }

    .map map:hover area {
        outline: 1px darkblue solid;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% comment %}<script>
function popUp(bool=false) {
    if (bool) {
        $("#fade").fadeIn();
    } else {
        $("#fade").fadeOut();
    }
}
    </script>{% endcomment %}
{% endblock %}

{% block body %}
{% comment %}<div class="button margin-center" id="upload" onclick="popUp(true);">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
        <path fill="#1F3C5C" fill-rule="evenodd" d="m7.866 0 4.37 4.033-.823.892-2.924-2.7v10.137H7.276V2.305L4.673
        4.908l-.857-.858L7.866 0ZM1.213 14.787V7.511H0V16h15.766V7.51h-1.213v7.277H1.213Z" clip-rule="evenodd"></path>
    </svg>
    <span>
        UPLOAD
    </span>
</div>

<div id="fade">
  <div id="popup">
    <div class="button" onclick="popUp();">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
        <path fill="#1f3c5c" fill-rule="evenodd" d="M8.057 9 .53 1.471 1.47.53 9 8.057 16.529.53l.942.942L9.943 9l7.528
        7.529-.942.942L9 9.943 1.471 17.47l-.941-.94L8.057 9Z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <article>
      <h1>Upload data</h1>
      <p>Upload a <span>.xslx file</span> or a <span>directory</span> with such files.</p>
    </article>

    <form id="form" class="image" enctype="multipart/form-data" method="POST">
      <label class="file">
        {% csrf_token %}
        <input id="file" type="file" name="upload" accept=".xlsx, .csv, .txt" directory multiple style="display: contents;"/><!--  accept=".xlsx, .csv, .txt" webkitdirectory -->
        <p><span>Drag here</span> your file or <span>Click here</span> to upload</p>
      </label>
      <p id="label">No file selected</p>
    <button type="submit" style="display: none; align-self: center" id="submit" class="button"><span>UPLOAD</span></button>
    <div class="lds-dual-ring"></div>
    </form>
  </div>
</div>{% endcomment %}

<div class="map">
  <map name="ukraine">
      {% if regions %}
      {% for region in regions %}
      <area shape="poly" title="{{ region.name }}" href="{% url 'data-table' region.name %}"
            coords="{{ region.coords }}">
      {% endfor %}
      {% endif %}
    {% comment %}<area shape="poly" alt="Lviv" title="Lviv" href="#" onclick="alert('hello');" coords="96,103,  99,103,  101,106,
    108,105,  111,111,  109,114,  109,117,  114,118,  118,124,  132,124,  134,128,  138,128,  137,133,  136,140,
    139,142,  143,143,  146,145,  146,153,  143,157,  134,157,  130,159,  130,165,  126,164,  122,171,  117,172,
    115,177,  112,175,  103,174,  101,180,  99,183,  101,185,  98,187,  99,193,  102,194,  101,196,  72,198,  67,200,
    67,203,  63,206,  61,211,  63,217,  62,221,  46,215,  46,211,  38,210,  36,207,  36,195,  32,190,  31,163,  38,161,
    40,155,  50, 148,  55,139,  69,129,  81,118,  89,117,  96,108" href="{% url 'data' %}">
    <area shape="poly" alt="Kyiv" title="Kyiv" href="#" onclick="alert('Kyiv');" coords="345,92,  349,92,  349,94,
    349,104,  347,106,  348,115,  355,`117`,  357,112,  357,95,  359,95,  364,105,  363,108,  377,107,  382,115,  381,119,
    386,122,  401,123,  409,117,  415,121,  412,125,  413,125,  415,130,  420,132,  415,139,  412,146,  408,148,
    409,152,  407,158,  402,164,  399,164,  398,154,  376,154,  371,147,  365,145,  365,146,  364,146,  364,148,
    378,158,  391,157,  391,161,  383,163,  381,175,  378,187,  370,197,  360,197,  350,199,  347,203,  341,202,
    340,198,  327,207,  321,208,  312,195,  315,189,  310,167,  314,167,  322,159,  319,150,  322,145,  321,137,
    317,136,  317,130,  311,126,  312,114,  316,108,  313,97,  309,93,  313,87,  304,83,  305,75,  309,66,  312,66,
    321,59,  324,63,  344,62,  353,77,  349,87">{% endcomment %}
    <!-- 1:96, 103/ 2:99, 103/ 3:101, 106/ 4:108, 105/ 5:111, 111/ 6:109, 114/ 7:119, 117/ 8:114, 118/ 9:118, 124/
    10:132, 124/ 11:134, 128/ 12:138, 128/ 13:137, 133/ 14:136, 140/ 15:139, 142/ 16:143, 143/ 17:146, 145/
    18:146, 153/ 19:143, 157/ 20:134, 157/ 21:130, 159/ 22:130, 165/ 23:126, 164/ 24:122, 171/ 25:117, 172/
    26:115, 177/ 27:112, 175/ 28:103, 174/ 29:101, 180/ 30:99, 183/ 31:101, 185/ 32:98, 187/ 33:99, 193/
    34:102, 194/ 35:101, 196/ 36:72, 198/ 37:67, 200/ 38:67, 203/ 39:63, 206/ 40:61, 211/ 41:63, 217/
    42:62, 221/ 43:46, 215/ 44:46, 211/ 45:38, 210/ 46:36, 207/ 47:36, 195/ 48:32, 190/ 49:31, 163/
    50:38, 161/ 51:40, 155/ 52:50, 148/ 53:55, 139/ 54:69, 129/ 55:81, 118/ 56:89, 117/ 57:96, 108 -->
  </map>
  <img src="{% static 'main/img/ukraine.png' %}" alt="Ukraine" usemap="#ukraine"> <!--  class="margin-center"-->
</div>
<script src="{% static 'main/js/popup.js' %}"></script>
<script src="https://projects.davidlynch.org/maphilight/jquery.maphilight.js"></script>
<script>
$('img[usemap]').maphilight({fill: true, fillOpacity: 0.25, fillColor: '000000', fade: true, strokeColor: '1F3C5C',
    strokeWidth: 3, shadow: true{% comment %}, shadowColor: 'FFFFFF'{% endcomment %}});
$('area').each(function(){
    let title = $(this).attr('title');
    let coords = $(this).attr('coords').split("  ");
    let left = parseInt(coords[0].split(',')[0]), top = parseInt(coords[0].split(',')[1]),
        right = parseInt(coords[0].split(',')[0]), bottom = parseInt(coords[0].split(',')[1]);
    for (let i = 1; i < coords.length; i++) {
        let t_x = parseInt(coords[i].split(',')[0]), t_y = parseInt(coords[i].split(',')[1]);
        if (t_x > right) {
            right = t_x;
        } else if (t_x < left) {
            left = t_x;
        }
        if (t_y > bottom) {
            bottom = t_y;
        } else if (t_y < top) {
            top = t_y
        }
    }
    //let map_top = $('.map').top, map_left = $('.map').left;
    let left_title = left + (right - left) / 2,
        top_title = top + (bottom - top) / 2 - 10;
    let span = $("<span class='map_title'>" + title + "</span>");
    let padding = parseInt($('.map').css('padding').split(' ')[1]);
    span.data('title', title);
    span.css({top:top_title + 'px', position:'absolute', transition:'0.1s linear', pointerEvents:'none'});
    span.appendTo('.map');
    span.css({left:(left_title - Math.ceil(span.width() / 2) + padding) + 'px'});
});
/*$('area').mouseover(function() {
    $('.map span[data-title="' + $(this).attr('title') + '"]').css({color:'#FFFFFF'});
});
$('area').mouseout(function() {
    $('.map span[data-title="' + $(this).attr('title') + '"]').css({color:'#000000'});
});*/
</script>

{% comment %}{% if message %}
<script>
    alert("{{ message }}")
</script>
{% endif %}{% endcomment %}
{% endblock %}