{% extends 'main/layout.html' %}
{% load static %}
{% load poll_extras %}

{% block head %}
    <title>Data</title>
    <style>
/* body {
    padding: 0 80px;
} */
tbody tr.filler {
    display: table-row;
}

tbody tr.filler td {
    text-align: center;
    color: inherit;
    width: 100%;
}

.button {
    /*margin-top: ;*/
    /*margin: 60px auto 0 auto;*/
    cursor: pointer;
    width: available;
    /*margin: 60px 80px 0 80px;*/
    /*margin-left: 80px;*/
    /*margin-right: 80px;*/
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #FFFFFF;
    justify-content: center;
    /*max-width: 1280px;*/
    /*width: calc(100% - 160px);*/
    min-width: fit-content;
}

.button span {
    color: #1F3C5C;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.button:hover {
    transition: 0.2s;
    background: #6384A2;
}

.button:hover span {
    transition: 0.2s;
    color: #FFFFFF;
}

.button:hover path {
    fill: #FFFFFF;
}

.button:active {
    transition: 0.2s;
    background: #314C6F;
}

/*.button:active path {
    fill: #FFFFFF;
}*/

#fade {
    margin: 0;
    display: none;
    position: fixed;
    box-sizing: border-box;
    padding: 30px 30px 20px 0;
    top: 0;
    left: 0;
    width: 100%;
    /*min-height: calc(100vh + 10px);*/
    /*height: calc(100% - 50px);*/
    height: 100%;
    background: rgba(29, 29, 29, 0.6);
    z-index: 2;
}

#popup {
    -webkit-transition: 200ms linear;
    -ms-transition: 200ms linear;
    transition: 200ms linear;
    box-sizing: border-box;
    margin-left: auto;
    /*height: 840px;*/
    height:fit-content;
    max-width: 680px;
    background: #F8F8F7;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

#popup .button {
    /*cursor: pointer;*/
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin: 0;

    /*background: #FFFFFF;*/
    /*border-radius: 10px;*/
}

/*#popup .button:hover {*/
/*    transition: 0.2s;*/
/*    background: #6384A2;*/
/*}*/

/*#popup .button:active {*/
/*    transition: 0.2s;*/
/*    background: #314C6F;*/
/*}*/

/*#popup .button:active path {*/
/*    fill: #FFFFFF;*/
/*}*/

#popup article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

#popup article * {
    text-align: center;
}

#popup article h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #1D1D1D;
}

#popup article p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #8C8C8C;
}

#popup .image {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#popup .image .file {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 640px;
    width: 100%;
    height: 320px;

    background: #FFFFFF /*url(../img/image.svg)*/ no-repeat center center;
    border: 2px dashed #1F3C5C;
    border-radius: 20px;
}

#popup .image .file * {
    text-align: center;
}

#popup .image .file p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #8C8C8C;
}

#popup .image .file p span {
    font-weight: 800;
    color: #1D1D1D;
}

#popup .image p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    color: #8C8C8C;
}

.lds-dual-ring {
    margin: 0 auto;
    display: none;
    /*display: inline-block;*/
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    /*display: block;*/
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #314C6F;
    border-color: #314C6F transparent #314C6F transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card {
    /*margin-left: 80px;
    margin-right: 80px;*/
    margin-top: 50px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 45px;
    width: calc(100% - 160px);
}

.table {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: fit-content;
}

table {
    width: 100%;
    /* table-layout: fixed; */
}

thead {
    display: table-header-group;
    vertical-align: middle;
    /*border: inherit;*/
    border: 1px solid #e3e6f0;
    border-collapse: separate !important;
}

/* thead */ tr {
    min-width: fit-content;
    /*padding: 5px 10px;*/
    display: table-row;
    vertical-align: inherit;
    border: inherit;
    width: 100%;
}

thead tr:first-child {
    border-radius: 25px 25px 0 0;
}

thead tr th {
    /*padding: 10px 10px;*/
    padding: 20px 5px;
    display: table-cell;
    cursor: pointer;
    font-weight: bold;
    border: inherit;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #6384A2;
    min-width: fit-content;
    width: 10%;
    /*border-width: 3px;*/
}

thead tr:first-child th:first-child {
    /*border-top-left-radius: 25px;*/
    border-top-left-radius: inherit;
}

thead tr:first-child th:last-child {
    /*border-top-right-radius: 25px;*/
    border-top-right-radius: inherit;
}

thead th:hover {
    transition: 0.1s linear;
    outline: 2px solid darkblue/*#314C6F*/;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    /*border: inherit;*/
    border: 2px solid #e3e6f0;
    border-collapse: separate !important;
}

tbody tr {
    display: none;
}

tbody tr:nth-child(even) {
    background: #F9F4E8;
}

tbody tr:hover {
    transition: 0.1s linear;
    outline: 2px solid darkblue/*#314C6F*/;
}

tbody tr.last {
    border-radius: 0 0 25px 25px;
    /*border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;*/
}

tbody tr.last td:first-child {
    border-bottom-left-radius: inherit;
    /*padding-left: 10px;*/
}

tbody tr.last td:last-child {
    border-bottom-right-radius: inherit;
    /*padding-right: 10px;*/
}

td {
    /*word-break: keep-all;
    word-wrap: break-word;*/
    border: inherit;
    display: table-cell;
    /*padding: 5px;*/
    padding: 10px 5px;
    width: fit-content;
    /* width: 100%; */
}

.margin {
    margin: 15px 0;
}

.margin-center {
    margin-left: 80px;
    margin-right: 80px;
}

.label {
    /*padding: 15px;*/
    color: #858796;
    font-size: 18px;
    height: fit-content;
}

select {
    width: fit-content;
    height: fit-content;
    padding: 0.375rem 1rem 0.375rem 0.75rem;
    /*margin: 15px 0;*/
    color: #6e707e;
    /*background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 0.75rem center/8px 10px no-repeat;*/
    border-radius: 5px;
    font-size: 16px;
    /*border: 1px solid #858796;*/
    border: 1px solid #d1d3e2;
}

select:hover, select:focus {
    transition: 0.3s linear;
    outline: 2px solid lightblue;
}

.flex-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    border-radius: 0.35rem;
}

.pagination li {
    font-size: 1rem;
    font-weight: 400;
    /*line-height: 1.5;
    color: #858796;*/
    display: list-item;
    text-align: -webkit-match-parent;
    position: relative;
    /*display: block;*/
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    /*background-color: #fff;*/
    border: 1px solid #dddfeb;
    cursor: pointer;
    /* user-select: auto; */
}

.pagination li.active {
    z-index: 3;
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
    pointer-events: none;
    cursor: pointer;
}

.pagination li.disabled {
    color: #858796;
    pointer-events: none;
    cursor: auto;
    /*background-color: #fff;
    border-color: #dddfeb;*/
}

.pagination li:first-child {
    margin-left: 0;
    border-radius: 0.35rem 0 0 0.35rem;
}

.pagination li:last-child {
    border-radius: 0 0.35rem 0.35rem 0;
}

.pagination li:hover {
    transition: 0.2s linear;
    background: #e5e6ea;
}

.pagination li:focus {
    transition: 0.3s linear;
    outline: 2px solid lightblue;
}

.invisible {
    display: contents;
}

.invisible li:first-child, .invisible li:last-child {
    border-radius: 0;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
function popUp(bool=false) {
    if (bool) {
        $("#fade").fadeIn();
    } else {
        $("#fade").fadeOut();
    }
}
// popUp();
    </script>
{% endblock %}

{% block body %}

<div class="button margin-center" id="upload" onclick="popUp(true);">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
        <path fill="#1F3C5C" fill-rule="evenodd" d="m7.866 0 4.37 4.033-.823.892-2.924-2.7v10.137H7.276V2.305L4.673
        4.908l-.857-.858L7.866 0ZM1.213 14.787V7.511H0V16h15.766V7.51h-1.213v7.277H1.213Z" clip-rule="evenodd"></path>
    </svg>
    <span>
        UPLOAD
    </span>
</div>
<div class="card margin-center">
    <div class="flex-row margin">
        <span class="label">
            Show
            <select id="entries">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            entries
        </span>
    </div>
    <div class="table">
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Date<i class="fa-solid fa-arrow-up"></i></th>
                    <th>Temperature (°C)</th>
                    <th>Wind direction</th>
                    <th>Average wind speed (m/s)</th>
                    <th>Weather events</th>
                    <!--<th>Cloudiness</th>-->
                    <th>Cloud cover</th>
                    <th>Vision range (km)</th>
                    <th>Humidity (%)</th>
                    <th>Atmo pressure (GPa)</th>
                    <!--<th>Atmospheric pressure (GPa)</th>-->
                    <th>Minimal cloud height (m)</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                {% for item in data %}
                <tr>
                    <td>{{ item.date|date:"d M Y H:i" }}</td>
                    <td>{{ item.temperature }}</td>
                    <td>{{ item.direction }}</td>
                    <td>{{ item.velocity }}</td>
                    <td>{{ codes|modify:item.weather_code }}</td>
                    <td>{{ dictionary|get_value:item.cloud_amount }}</td>
                    <td>{{ item.visibility_range }}</td>
                    <td>{{ item.humidity }}</td>
                    <td>{{ item.atmo_pressure }}</td>
                    <td>{{ item.lower_cloud_limit }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="margin flex-row">
        <span class="label" id="show">Showing 0 to 0 of 0 entries </span>
        <ul class="pagination" id="paginator">
            <li class="disabled" id="prev">Previous</li>
            <span class="invisible" id="paginator-buttons">
            </span>
            <li id="next">Next</li>
        </ul>
    </div>
</div>
<div id="fade">
  <div id="popup">
    <div class="button" onclick="popUp();">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
        <path fill="#1f3c5c" fill-rule="evenodd" d="M8.057 9 .53 1.471 1.47.53 9 8.057 16.529.53l.942.942L9.943 9l7.528
        7.529-.942.942L9 9.943 1.471 17.47l-.941-.94L8.057 9Z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <article>
      <h1>Upload data</h1>
      <p>Upload a <span>.xslx file</span> or a <span>directory</span> with such files.</p>
    </article>

    <form id="form" class="image" enctype="multipart/form-data" method="POST">
      <label class="file">
        {% csrf_token %}
        <input id="file" type="file" name="upload" accept=".xlsx, .csv, .txt" directory multiple style="display: contents;"/><!--  accept=".xlsx, .csv, .txt" webkitdirectory -->
        <p><span>Drag here</span> your file or <span>Click here</span> to upload</p>
      </label>
      <p id="label">No file selected</p>
    <button type="submit" style="display: none; align-self: center" id="submit" class="button"><span>UPLOAD</span></button>
    <div class="lds-dual-ring"></div>
    </form>
  </div>
</div>
<script>

let text = "No file selected";
let file = document.getElementById("file");
let submit = document.getElementById("submit");
let entries = document.getElementById("entries");
let show = document.getElementById("show");

let data_table = document.getElementById("dataTable");

let paginator = document.getElementById("paginator");
let paginator_buttons = document.getElementById("paginator-buttons");
let prev = document.getElementById("prev");
let next = document.getElementById("next");

file.onchange = function() {
    let label = document.getElementById("label");

    if (this.files.length > 0) {
        label.innerHTML = `File name${ this.files.length > 1 ? "s" : "" }:&nbsp;`;
        for (let i = 0; i < this.files.length; i++) {
            label.innerHTML += `${this.files[i].name}`;
            if (this.files.length - i - 1 > 0) {
                label.innerHTML += ";&nbsp;&nbsp;"
            }
        }
        submit.style.display = "flex";
    } else {
        label.innerHTML = text;
    }
    // label.innerText =
    // document.getElementById("form")
    // label.innerText = ""
};

show.change_show = function (from, to, entries, filter=null) {
    this.innerText = `Showing ${from} to ${to} of ${entries} entries ${filter == null ? "" : filter}`;
}

submit.onclick = function() {
    this.disabled = "disabled";
    $('#submit').fadeOut();
    $('.lds-dual-ring').fadeIn().style.display = "inline-block";
};

let page = 0;
let entry_num = 10;
let rows_tr = document.querySelectorAll("tbody tr");


function hideRows() {
    let rows = document.querySelectorAll("tbody tr:not(.filler) ");

    for (let i = page * entry_num; i < Math.min((page + 1) * entry_num, rows.length); i++) {
        rows[i].removeAttribute("style");
    }
    let last = document.querySelector("tbody .last")
    if (last) {
        last.classList.remove("last");
    }
}

function check() {
    if (rows_tr.length === 0) {
        let row = document.createElement("tr");
        data_table.getElementsByTagName('tbody')[0].appendChild(row);
        row.classList.add("filler");
        row.innerHTML = `<td colspan='${data_table.getElementsByTagName("th").length}'>No data available in table</td>`;
        return false;
    }
    return true;
}

function revealRows() {
    if (rows_tr.length !== 0) {
        let rows_num = Math.min((page + 1) * entry_num, rows_tr.length);
        for (let i = page * entry_num; i < rows_num; i++) {
            rows_tr[i].style.display = "table-row";
        }
        rows_tr[rows_num - 1].classList.add("last");
        let rows = document.querySelectorAll("tbody tr:not(.filler) ");

        show.change_show((rows.length) === 0 ? 0 : (page * entry_num) + 1, Math.min((page + 1) * entry_num, rows.length), rows.length);
    }
}

function changePaginatorButtons() {
    let array = paginator_buttons.querySelectorAll("li");
    let last_page = Math.ceil(rows_tr.length / entry_num);
    for (let i of array) {
        i.removeAttribute("class");
    }
    if (last_page > 7) {
        if (page < 4) {
            for (let i = 1; i <= 7 - 2; i++) {
                array[i - 1].innerText = i.toString();
                if (page === i - 1) {
                    array[i - 1].classList.add("active");
                }
            }

            array[5].innerText = "...";
            array[5].classList.add("disabled");
        } else if (page >= (last_page - 4)) {

            for (let i = last_page - 4, j = 2; j < 7; i++, j++) {
                array[j].innerText = i.toString();
                if (page === (i - 1)) {
                    array[j].classList.add("active");
                }
            }
            array[1].innerText = "...";
            array[1].classList.add("disabled");
        } else {
            array[1].innerText = "...";
            array[1].classList.add("disabled");
            array[5].innerText = "...";
            array[5].classList.add("disabled");

            array[2].innerText = page.toString();
            array[3].innerText = (page + 1).toString();
            array[3].classList.add("active");
            array[4].innerText = (page + 2).toString();
        }
    } else {
        for (let i = 1; i <= array.length; i++) {
            array[i - 1].innerText = i.toString();
            if (page === (i - 1)) {
                array[i - 1].classList.add("active");
            }
        }
    }

    if (last_page === 1) {
        next.classList.add("disabled");
        prev.classList.add("disabled");
    } else {
        if (page !== last_page - 1) {
            next.classList.remove("disabled");
        } else {
            next.classList.add("disabled");
        }

        if (page !== 0) {
            prev.classList.remove("disabled");
        } else {
            prev.classList.add("disabled");
        }
    }
}

function paginateHandler() {
    hideRows();
    page = Number(this.innerText) - 1;
    revealRows();
    changePaginatorButtons();
}

entries.onchange = function() {
    hideRows();
    page = 0;
    entry_num = this.options[this.selectedIndex].value;
    if (check()) {
        revealRows();
    }

    paginator_buttons.innerHTML = "";
    let buttons_num = rows_tr.length / entry_num;
    if (buttons_num === 0) {
        next.classList.add("disabled");
    } else {
        let li = null;
        for (let i = 1; i <= Math.min(Math.ceil(buttons_num), 7); i++) {
            li = document.createElement("li");
            if (i === 1) {
                li.innerText = i.toString();
            }
            li.onclick = paginateHandler;
            paginator_buttons.appendChild(li);
        }
        li.innerText = Math.ceil(buttons_num).toString();
        changePaginatorButtons();
    }
};
entries.onchange(null);


prev.onclick = function() {
    if (page !== 0) {
        hideRows()
        page--;
        revealRows();
        changePaginatorButtons();
    }
}

next.onclick = function() {
    if (page !== Math.ceil(rows_tr.length / entry_num - 1)) {
        hideRows()
        page++;
        revealRows();
        changePaginatorButtons();
    }
}

</script>

{% if message %}
<script>
    alert("{{ message }}")
</script>
{% endif %}
{% endblock %}