{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
    <title>Data</title>
    <style>
.button {
    /*margin-top: ;*/
    /*margin: 60px auto 0 auto;*/
    cursor: pointer;
    /*margin: 60px 80px 0 80px;*/
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #FFFFFF;
    justify-content: center;
    /*max-width: 1280px;*/
    width: calc(100% - 160px);
    min-width: fit-content;
}

.button span {
    color: #1F3C5C;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.button:hover {
    transition: 0.2s;
    background: #6384A2;
}

.button:hover span {
    transition: 0.2s;
    color: #FFFFFF;
}

.button:hover path {
    fill: #FFFFFF;
}

.button:active {
    transition: 0.2s;
    background: #314C6F;
}

/*.button:active path {
    fill: #FFFFFF;
}*/

#fade {
    margin: 0;
    display: none;
    position: fixed;
    box-sizing: border-box;
    padding: 30px 30px 20px 0;
    top: 0;
    left: 0;
    width: 100%;
    /*min-height: calc(100vh + 10px);*/
    /*height: calc(100% - 50px);*/
    height: 100%;
    background: rgba(29, 29, 29, 0.6);
    z-index: 2;
}

#popup {
    -webkit-transition: 200ms linear;
    -ms-transition: 200ms linear;
    transition: 200ms linear;
    box-sizing: border-box;
    margin-left: auto;
    /*height: 840px;*/
    height:fit-content;
    max-width: 680px;
    background: #F8F8F7;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

#popup .button {
    /*cursor: pointer;*/
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin: 0;

    /*background: #FFFFFF;*/
    /*border-radius: 10px;*/
}

/*#popup .button:hover {*/
/*    transition: 0.2s;*/
/*    background: #6384A2;*/
/*}*/

/*#popup .button:active {*/
/*    transition: 0.2s;*/
/*    background: #314C6F;*/
/*}*/

/*#popup .button:active path {*/
/*    fill: #FFFFFF;*/
/*}*/

#popup article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

#popup article * {
    text-align: center;
}

#popup article h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #1D1D1D;
}

#popup article p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #8C8C8C;
}

#popup .image {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#popup .image .file {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 640px;
    width: 100%;
    height: 320px;

    background: #FFFFFF /*url(../img/image.svg)*/ no-repeat center center;
    border: 2px dashed #1F3C5C;
    border-radius: 20px;
}

#popup .image .file * {
    text-align: center;
}

#popup .image .file p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #8C8C8C;
}

#popup .image .file p span {
    font-weight: 800;
    color: #1D1D1D;
}

#popup .image p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    color: #8C8C8C;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
function popUp(bool=false) {
    if (bool) {
        $("#fade").fadeIn();
    } else {
        $("#fade").fadeOut();
    }
}
// popUp();
    </script>
{% endblock %}

{% block body %}

<div class="button" id="upload" onclick="popUp(true);">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
        <path fill="#1F3C5C" fill-rule="evenodd" d="m7.866 0 4.37 4.033-.823.892-2.924-2.7v10.137H7.276V2.305L4.673
        4.908l-.857-.858L7.866 0ZM1.213 14.787V7.511H0V16h15.766V7.51h-1.213v7.277H1.213Z" clip-rule="evenodd"/>
    </svg>
    <span>
        UPLOAD
    </span>
</div>
<div id="fade">
  <div id="popup">
    <div class="button" onclick="popUp();">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
        <path fill="#1f3c5c" fill-rule="evenodd" d="M8.057 9 .53 1.471 1.47.53 9 8.057 16.529.53l.942.942L9.943 9l7.528
        7.529-.942.942L9 9.943 1.471 17.47l-.941-.94L8.057 9Z" clip-rule="evenodd"/>
      </svg>
    </div>
    <article>
      <h1>Upload data</h1>
      <p>Upload a <span>.xslx file</span> or a <span>directory</span> with such files.</p>
    </article>

    <form id="form" class="image" enctype="multipart/form-data" method="POST">
      <label class="file">
        {% csrf_token %}
        <input id="file" type="file" name="upload" accept=".xlsx, .csv, .txt" directory multiple style="display: contents;"/><!--  accept=".xlsx, .csv, .txt" webkitdirectory -->
        <p><span>Drag here</span> your file or <span>Click here</span> to upload</p>
      </label>
      <p id="label">No file selected</p>
    <button type="submit" style="display: none; align-self: center" id="submit" class="button"><span>UPLOAD</span></button>
    </form>
  </div>
</div>
<script>

let text = "No file selected";
let file = document.getElementById("file");
file.onchange = function() {
    let label = document.getElementById("label");
    let submit = document.getElementById("submit");
    if (this.files.length > 0) {
        label.innerHTML = "File names:&nbsp;";
        for (let i = 0; i < this.files.length; i++) {
            label.innerHTML += `${this.files[i].name}`;
            if (this.files.length - i - 1 > 0) {
                label.innerHTML += ";&nbsp;&nbsp;"
            }
        }
        submit.style.display = "flex";
    } else {
        label.innerHTML = text;
    }
    // label.innerText =
    // document.getElementById("form")
    // label.innerText = ""
};
</script>
{% endblock %}