{% extends 'main/layout.html' %}

<!--{% block title %}Home{% endblock %}-->
{% load static %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block body %}
    <!--<h1>Home</h1>
    <p>Home page</p>-->
    <div class="main">
        <div class="content" style="--URL: url(../img/weather1.jpg)">
            <img class="image" src="{% static 'main/img/logo.svg' %}" alt="">
            <div class="column">
                <h1>Insight Weather</h1>
                <p>Learn more about Insight Weather project<br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut, cupiditate debitis dolores enim
                    id necessitatibus nemo quia quis velit!</p>
                <a class="button" href="#">
                    <p>Details</p>
                    <img src="{% static 'main/img/link.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="select">
            <svg class="active"></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>
    {{ objects }}
{% endblock %}