.main {
    /*padding: 90px 30px 0;*/
    padding: 90px 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 0;*/
    /*height: calc(100vh - 240px);
    min-height: 100%;*/
    /*height: 100%;*/
    height: calc(100% - 240px);
    gap: 12px;
}

.main .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;

    max-width: 1280px;
    width: 100%;
    min-height: 300px;
    height: fit-content;

    background-image: linear-gradient(180deg, rgba(0, 0, 139, 0.25) 0%, rgba(0, 0, 139, 0.75) 100%), var(--URL);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.main .content .image {
    max-width: 200px;
    object-fit: contain;
}

.main .content .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*gap: 20px;*/

    /*width: 950px;*/
    /*height: 200px;*/
    align-self: stretch;
}

.main .content .column h1 {
    font-weight: 700;
    font-size: 32px;
    /*line-height: 42px;*/
    /* identical to box height */
    color: var(--White);
}

.main .content .column p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    /*line-height: 21px;*/
    /*letter-spacing: -0.1em;*/

    color: var(--White);
    align-self: stretch;
}

.main .content .column .button {
    margin-top: auto/*20px*/;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    gap: 15px;

    max-width: 108px;
    max-height: 44px;
    width: 100%;
    height: 100%;
    object-fit: contain;

    background: var(--Blue-Navbar);
    border-radius: 10px;
    transition: 0.1s linear;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.main .content .column .button:hover {
    outline: 2px inset rgb(255, 255, 255);
}

.main .content .column .button:active {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.main .content .column .button p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /*line-height: 24px;*/
    /* identical to box height */
    /*letter-spacing: -0.1em;*/
    color: var(--White);
}

.main .content .column .button img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.main .select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.main .select svg {
    cursor: pointer;
    object-fit: contain;
    width: 20px;
    height: 20px;
    border-radius: 24px;
    background: var(--GreyBlue);
    transition: 0.2s;
    outline: solid 2px rgba(0, 0, 0, 0);
}

.main .select svg:hover {
    outline: solid 2px var(--White);
}

.main .select svg.active {
    transition: 0.3s linear;
    width: 24px;
    height: 24px;
    background: var(--DarkBlue);
}