*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Jost', sans-serif;*/
}

body, html {
  /*background: #F8F8F7;*/
  height: 100%;
  width: 100%;
  min-height: 100vh;
  /*min-width: 100vw;*/
  min-width: 100%;
}

button {
  display: contents;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}