/* body {
    padding: 0 80px;
} */
/*a{
    text-decoration: none;
}*/

.card {
    /*margin-left: 80px;
    margin-right: 80px;*/
    /*margin-top: 50px;*/
    padding: 20px;
    background: #FFFFFF;
    border-radius: 45px;
    width: calc(100% - 160px);
}

.table {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: fit-content;
}

table {
    width: 100%;
    /* table-layout: fixed; */
}

thead {
    display: table-header-group;
    vertical-align: middle;
    /*border: inherit;*/
    border: 1px solid #e3e6f0;
    border-collapse: separate !important;
}

/* thead */ tr {
    min-width: fit-content;
    /*padding: 5px 10px;*/
    /*display: table-caption;*/
    vertical-align: inherit;
    border: inherit;
    width: 100%;
}

thead tr:first-child {
    border-radius: 25px 25px 0 0;
}

thead tr th {
    /*padding: 10px 10px;*/
    position: relative;
    padding: 20px 5px;
    display: table-cell;
    cursor: pointer;
    border: inherit;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #6384A2;
    min-width: fit-content;
    width: 10%;
    user-select: none;
    /*border-width: 3px;*/
}

thead tr th:before {
    position: absolute;
    right: 1em;
    content: "↓";
    bottom: 0;
    opacity: .5;
}

thead tr th.sorting-asc:before {
    opacity: 1;
}

thead tr th.sorting-desc:after {
    opacity: 1;
}

thead tr th.sorting-asc, thead tr th.sorting-desc {
    transition: 0.3s linear;
    /*outline: 3px solid darkblue/!*#314C6F*!/;*/
    background-color: #1F3C5C;
}

thead tr th:after {
    position: absolute;
    right: 0.5em;
    content: "↑";
    bottom: 0;
    opacity: .5;
}

thead tr th div {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    /*min-width: inherit;*/
}

/*thead tr th svg {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
}*/
a {
    /*color: inherit; blue colors for links too
    text-decoration: inherit; no underline */
    display: contents;
    /*border-radius: inherit;*/
}
thead tr:first-child > *:first-child {
    /*border-top-left-radius: 25px;*/
    border-top-left-radius: inherit;
}

thead tr:first-child > *:last-child {
    /*border-top-left-radius: 25px;*/
    border-top-right-radius: inherit;
}

th {
    border-radius: inherit;
}

/*thead tr:first-child th {
    !*border-top-left-radius: 25px;*!
    border-top-left-radius: inherit;
}

thead tr:first-child th {
    !*border-top-right-radius: 25px;*!
    border-top-right-radius: inherit;
}*/

thead th:hover {
    transition: 0.1s linear;
    outline: 2px solid darkblue/*#314C6F*/;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    /*border: inherit;*/
    border: 2px solid #e3e6f0;
    border-collapse: separate !important;
}

tbody tr {
    /*display: none;*/
}

tbody tr:nth-child(even) {
    background: #F9F4E8;
}

tbody tr:hover {
    transition: 0.1s linear;
    outline: 2px solid darkblue/*#314C6F*/;
}

tbody tr.filler {
    display: table-row;
}

tbody tr td {
    /*word-break: keep-all;
    word-wrap: break-word;*/
    border: inherit;
    display: table-cell;
    /*padding: 5px;*/
    padding: 10px 5px;
    width: fit-content;
    /* width: 100%; */
}

/*tbody tr.last {
    border-radius: 0 0 25px 25px;
    !*border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;*!
}

tbody tr.last td:first-child {
    border-bottom-left-radius: inherit;
    !*padding-left: 10px;*!
}

tbody tr.last td:last-child {
    border-bottom-right-radius: inherit;
    !*padding-right: 10px;*!
}*/
tbody tr:last-child {
    border-radius: 0 0 25px 25px;
}

tbody tr:last-child > *:first-child {
    border-bottom-left-radius: inherit;
}

tbody tr:last-child > *:last-child {
    border-bottom-right-radius: inherit;
}

tbody tr.filler td {
    text-align: center;
    color: inherit;
    width: 100%;
}

.margin {
    margin: 15px 0;
}

.label {
    /*padding: 15px;*/
    color: #858796;
    font-size: 18px;
    height: fit-content;
}

select {
    width: fit-content;
    height: fit-content;
    padding: 0.375rem 1rem 0.375rem 0.75rem;
    /*margin: 15px 0;*/
    color: #6e707e;
    /*background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 0.75rem center/8px 10px no-repeat;*/
    border-radius: 5px;
    font-size: 16px;
    /*border: 1px solid #858796;*/
    border: 1px solid #d1d3e2;
}

select:hover, select:focus {
    transition: 0.3s linear;
    outline: 2px solid lightblue;
}

.flex-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    border-radius: 0.35rem;
}

.pagination li {
    font-size: 1rem;
    font-weight: 400;
    /*line-height: 1.5;
    color: #858796;*/
    display: list-item;
    text-align: -webkit-match-parent;
    position: relative;
    /*display: block;*/
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    /*background-color: #fff;*/
    border: 1px solid #dddfeb;
    cursor: pointer;
    /* user-select: auto; */
}

.pagination li.active {
    z-index: 3;
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
    pointer-events: none;
    cursor: pointer;
}

.pagination li.disabled {
    color: #858796;
    pointer-events: none;
    cursor: auto;
    /*background-color: #fff;
    border-color: #dddfeb;*/
}

.pagination li:first-child {
    margin-left: 0;
    border-radius: 0.35rem 0 0 0.35rem;
}

.pagination li:last-child {
    border-radius: 0 0.35rem 0.35rem 0;
}

.pagination li:hover {
    transition: 0.2s linear;
    background: #e5e6ea;
}

.pagination li:focus {
    transition: 0.3s linear;
    outline: 2px solid lightblue;
}

.invisible {
    display: contents;
}

.invisible li:first-child, .invisible li:last-child {
    border-radius: 0;
}