.margin-center {
    margin-left: 80px;
    margin-right: 80px;
    width: calc(100% - 160px);
}

.button {
    /*margin-top: ;
    margin: 60px auto 0 auto;*/
    margin-bottom: 60px;
    cursor: pointer;
    width: available;
    /*margin: 60px 80px 0 80px;
    margin-left: 80px;
    margin-right: 80px;*/
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #FFFFFF;
    justify-content: center;
    /*max-width: 1280px;
    width: calc(100% - 160px);*/
    min-width: fit-content;
}

.button span {
    color: #1F3C5C;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.button:hover {
    transition: 0.2s;
    background: #6384A2;
}

.button:hover span {
    transition: 0.2s;
    color: #FFFFFF;
}

.button:hover path {
    fill: #FFFFFF;
}

.button:active {
    transition: 0.2s;
    background: #314C6F;
}

/*.button:active path {
    fill: #FFFFFF;
}*/

#fade {
    margin: 0;
    display: none;
    position: fixed;
    box-sizing: border-box;
    padding: 30px 30px 20px 0;
    top: 0;
    left: 0;
    width: 100%;
    /*min-height: calc(100vh + 10px);
    height: calc(100% - 50px);*/
    height: 100%;
    background: rgba(29, 29, 29, 0.6);
    z-index: 2;
}

#popup {
    -webkit-transition: 200ms linear;
    -ms-transition: 200ms linear;
    transition: 200ms linear;
    box-sizing: border-box;
    margin-left: auto;
    /*height: 840px;*/
    height:fit-content;
    max-width: 680px;
    background: #F8F8F7;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

#popup .button {
    /*cursor: pointer;*/
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin: 0;

    /*background: #FFFFFF;
    border-radius: 10px;*/
}

/*#popup .button:hover {
    transition: 0.2s;
    background: #6384A2;
}*/

/*#popup .button:active {
    transition: 0.2s;
    background: #314C6F;
}*/

/*#popup .button:active path {
    fill: #FFFFFF;
}*/

#popup article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

#popup article * {
    text-align: center;
}

#popup article h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #1D1D1D;
}

#popup article p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #8C8C8C;
}

#popup .image {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#popup .image .file {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 640px;
    width: 100%;
    height: 320px;

    background: #FFFFFF /*url(../img/image.svg)*/ no-repeat center center;
    border: 2px dashed #1F3C5C;
    border-radius: 20px;
}

#popup .image .file * {
    text-align: center;
}

#popup .image .file p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #8C8C8C;
}

#popup .image .file p span {
    font-weight: 800;
    color: #1D1D1D;
}

#popup .image p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    color: #8C8C8C;
}

.lds-dual-ring {
    margin: 0 auto;
    display: none;
    /*display: inline-block;*/
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    /*display: block;*/
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #314C6F;
    border-color: #314C6F transparent #314C6F transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
